#corps    {width: 1024px;}
#titre    {margin-left: -30%; margin-bottom: -2%}
#stitre   {margin-left: -10%; margin-top:0;}
#tete     {margin-left: -20%;}
#img_head {margin-top: -15px;
           margin-bottom: -15px;
margin-left: -15px;
width:1022px;}
.nav      {color: #523c24;}

}
